/* #region common */
:root {
    --site-purple: #6500ff;
    --site-gray: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* #endregion common */

/* #region containers */

.container-header {
    max-width: 1500px;
    margin: 0 auto;
}

.container-main {
    max-width: 1400px;
    margin: 0 auto;
}

/* #endregion containers */

.page-header {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    
    .header-text {
        flex-shrink: 0;
        margin-bottom: 0.5rem;

        

        .description {
            color: gray;
            font-size: 0.75rem;
        }

    }


    .header-btns {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0.5rem;
        flex-grow: 1;


        .time-btn {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            span {
                color: gray;
                font-size: 0.75rem;
            }

            i {
                font-size: 1.25rem;
            }

            .bi-toggle-off {
                color: gray;
            }
        }
    }

}

main {
    padding: 1rem;

    
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        
        .card {
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0 4px 2px lightgray ;
            flex-basis: calc(100%/3 - (16px*2) / 3);
            flex-shrink: 0;
            min-width: 565px;
            /* margin: 0 auto; */
            
    
            .subtitle {
                color: gray;
                font-size: 0.75rem;
            }

            .price {
                text-align: center;
                padding: 1rem 0;
                
                span:nth-child(2), span:first-child  {
                    font-weight:bold;
                }

                span:nth-child(2) {
                    font-size: 3rem;
                }

                span:last-child {
                    color: gray;
                }
            }

            .discount {
                text-align: center;
                padding-bottom: 1rem;
                font-size: 0.75rem;

                span {
                    background-color: var(--site-gray);
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                }
            }

            .choose-btn {
                background-color: var(--site-purple);
                color: white;
                border-radius: 1rem;
                border-style: none;
                border: none;
                padding: 1rem 2rem;
                text-align: center;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            
            li {
                list-style: none;
                padding: 0.5rem 0;

                i {
                    font-size: 1.5rem;
                    margin-right: 0.5rem;
                }
            }
        }

        .card:nth-child(2) {
            background-color: var(--site-purple);
            color: white;

            .discount {
                span {
                    color: black;
                }
            }

            .choose-btn {
                background-color: white;
                color: var(--site-purple);
            }
        }
    }
}