/* #region common */
:root {
    --site-purple: #6500ff;
    --site-gray: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* #endregion common */

/* #region containers */

.container-header {
    max-width: 1500px;
    margin: 0 auto;
}

.container-main {
    max-width: 1400px;
    margin: 0 auto;
}

/* #endregion containers */

.page-header {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    
    .header-text {
        flex-shrink: 0;
        margin-bottom: 0.5rem;

        

        .description {
            color: gray;
            font-size: 0.75rem;
        }

    }


    .header-btns {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0.5rem;
        flex-grow: 1;


        .time-btn {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            span {
                color: gray;
                font-size: 0.75rem;
            }

            i {
                font-size: 1.25rem;
            }

            .bi-toggle-off {
                color: gray;
            }
        }
    }

}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        padding: 1rem;
        border-radius: 1rem;
        flex-shrink: 0;
        flex-grow: 1;

    }
}